USUARIOS_DJANGO_SECRET_KEY=cambiar
USUARIOS_DJANGO_DEBUG=True

POSTGRES_USUARIOS_DB=osteosarcoma_usuarios
POSTGRES_USUARIOS_USER=usuarios_user
POSTGRES_USUARIOS_PASSWORD=cambiar
POSTGRES_USUARIOS_APP_USER=usuarios_app
POSTGRES_USUARIOS_APP_PASSWORD=cambiar

CLINICO_DJANGO_SECRET_KEY=cambiar
CLINICO_DJANGO_DEBUG=True
POSTGRES_CLINICO_DB=osteosarcoma_clinico
POSTGRES_CLINICO_USER=clinico_user
POSTGRES_CLINICO_PASSWORD=cambiar
POSTGRES_CLINICO_APP_USER=clinico_app
POSTGRES_CLINICO_APP_PASSWORD=cambiar

IA_DJANGO_SECRET_KEY=cambiar
IA_DJANGO_DEBUG=True
POSTGRES_IA_DB=osteosarcoma_ia
POSTGRES_IA_USER=ia_user
POSTGRES_IA_PASSWORD=cambiar
POSTGRES_IA_APP_USER=ia_app
POSTGRES_IA_APP_PASSWORD=cambiar

RADIOGRAFIAS_APP_ENV=local
RADIOGRAFIAS_APP_DEBUG=true
POSTGRES_RADIOGRAFIAS_DB=osteosarcoma_radiografias
POSTGRES_RADIOGRAFIAS_USER=radiografias_user
POSTGRES_RADIOGRAFIAS_PASSWORD=cambiar
POSTGRES_RADIOGRAFIAS_APP_USER=radiografias_app
POSTGRES_RADIOGRAFIAS_APP_PASSWORD=cambiar

REPORTES_APP_ENV=local
REPORTES_APP_DEBUG=true
POSTGRES_REPORTES_DB=osteosarcoma_reportes
POSTGRES_REPORTES_USER=reportes_user
POSTGRES_REPORTES_PASSWORD=cambiar
POSTGRES_REPORTES_APP_USER=reportes_app
POSTGRES_REPORTES_APP_PASSWORD=cambiar

RABBITMQ_DEFAULT_USER=osteosarcoma
RABBITMQ_DEFAULT_PASS=cambiar