APP_NAME="Servicio Auditoria Osteosarcoma"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8004

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres_auditoria
DB_PORT=5432
DB_DATABASE=osteosarcoma_auditoria
DB_USERNAME=auditoria_app
DB_PASSWORD=cambiar

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
